<main xmlns:th="http://www.w3.org/1999/html">
    <div class="container body-content" style="padding-top: 15px">

        <div class="row">

            <div class="text-center col-md-6" id="my-content-left">
                <h1 class="text-center" style="padding-bottom: 5px">Order By</h1>
                <form class="text-center">
                    <a class="btn btn-upvote" th:href="@{/all-reviews-by-upvotes}">Most Upvotes 🗲</a>
                    <a class="btn btn-success" th:href="@{/all-reviews}">Most Recent 🕘</a>
                </form>
            </div>

            <div class="col-md-6">
                <h1 class="text-center" style="padding-bottom: 5px">Search Reviews ⌕</h1>
                <div class="text-center">
                    <form th:action="@{/all-reviews/}" method="get">
                            <div class="input-group col-md-offset-3 col-md-6">
                                <input type="text" class="form-control" id="search_search" placeholder="Search Reviews"
                                           name="search" th:value="${search}"/>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>

            <div class="page-header" style="padding-top: 120px"/>
        </div>

        <div class="row">
            <th:fieldset th:each="review : ${reviews}">
                <div class="col-md-6" style="padding-top: 20px; padding-bottom: 10px">

                    <a th:href="@{/review/{id}(id=${review.id})}">
                       <div class="col-sm-4">
                           <img th:src="${review.imageUrl}" class="img-responsive pull-right"/>
                       </div>
                    </a>

                    <review class="col-sm-8">
                        <header style="padding-bottom: 15px">
                            <div>
                                <a th:href="@{/review/{id}(id=${review.id})}">
                                    <span style="font-size: 30px" th:inline="text">[[${review.title}]]</span>
                                </a>
                                <span style="font-size: 25px; padding-top: 2px; padding-left: 5px" class="darkred-body pull-right text-center" id="circle-downvote" th:inline="text"><b>[[${review.downvoteCount}]] <br/><span style="font-size: 40px">🖓</span></b></span>
                                <span style="font-size: 25px; padding-top: 2px; padding-left: 5px" class="darkgreen-body pull-right text-center" id="circle-upvote" th:inline="text"><b>[[${review.upvoteCount}]] <br/><span style="font-size: 40px">🖒</span></b></span>
                            </div>
                            <h3 th:inline="text">
                                <img th:if="${review.score == 10}" src="https://www.clker.com/cliparts/5/1/c/1/149342098821355298455-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 9}" src="https://www.clker.com/cliparts/c/3/a/3/149342220817588066174.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 8}" src="https://www.clker.com/cliparts/b/4/c/5/14934221687560176084-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 7}" src="https://www.clker.com/cliparts/9/4/5/2/149342212514879476013.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 6}" src="https://www.clker.com/cliparts/3/c/1/8/14934220775508012813-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 5}" src="https://www.clker.com/cliparts/b/6/b/a/14934220253883546472.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 4}" src="https://www.clker.com/cliparts/5/f/2/7/14934219889678125842-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 3}" src="https://www.clker.com/cliparts/4/8/3/8/14934219179139725351.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 2}" src="https://www.clker.com/cliparts/d/9/a/a/149342187417618316061-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 1}" src="https://www.clker.com/cliparts/e/1/2/0/1493421826914454660.5-stars.med.png" style="width: 100px"/>
                                </h3>
                        </header>

                        <p th:inline="text">
                            [[${review.summary}]]
                        </p>

                        <small class="author" th:text="${review.author.fullName}"></small>
                    </review>

                    <footer style="padding-top: 20px">
                        <div class="pull-right" style="padding-right: 15px">
                            <a class="btn btn-default btn-sm"
                               th:href="@{/review/{id}(id=${review.id})}"><b>More ➤</b></a>
                        </div>
                    </footer>
                </div>
            </th:fieldset>
        </div>
    </div>
</main>
