<main xmlns:th="http://www.w3.org/1999/html">
    <div class="container body-content" style="padding-top: 15px">

        <div class="row">
            <div class="col-md-6" id="my-content-left">
                <h1 class="text-center" style="padding-bottom: 5px">Search Reviews</h1>
                <div class="text-center">
                    <form th:action="@{/all-reviews/}" method="get">
                            <div class="input-group col-md-offset-3 col-md-6">
                                <input type="text" class="form-control" id="search_search" placeholder="Search Reviews"
                                           name="search" th:value="${search}"/>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center col-md-6">
                <h1 class="text-center" style="padding-bottom: 5px">Order By</h1>
                <form class="text-center">
                    <a class="btn btn-warning" th:href="@{/all-reviews-by-upvotes}">Most Upvotes</a>
                    <a class="btn btn-success" th:href="@{/all-reviews}">Most Recent</a>
                </form>
            </div>

            <div class="page-header" style="padding-top: 120px"/>
        </div>

        <div class="row">
            <th:fieldset th:each="review : ${reviews}">
                <div class="col-md-6" style="padding-top: 20px; padding-bottom: 10px">

                    <a th:href="@{/review/{id}(id=${review.id})}">
                       <div class="col-sm-4">
                           <img th:src="${review.imageUrl}" class="img-responsive pull-right"/>
                       </div>
                    </a>

                    <review class="col-sm-8">
                        <header>
                            <div>
                                <a th:href="@{/review/{id}(id=${review.id})}">
                                    <span style="font-size: 30px" th:inline="text">[[${review.title}]]</span>
                                </a>
                                <span style="font-size: 30px; padding-top: 3px" class="pull-right text-center" id="circle" th:inline="text"><b>[[${review.upvoteCount}]]</b></span>
                            </div>
                            <h3 th:inline="text">
                                <span th:if="${review.score == 10}" style="font-size: 35px">★★★★★</span>
                                <span th:if="${review.score == 9}" style="font-size: 35px">★★★★★</span>
                                <span th:if="${review.score == 8}" style="font-size: 35px">★★★★☆</span>
                                <span th:if="${review.score == 7}" style="font-size: 35px">★★★★☆</span>
                                <span th:if="${review.score == 6}" style="font-size: 35px">★★★☆☆</span>
                                <span th:if="${review.score == 5}" style="font-size: 35px">★★★☆☆</span>
                                <span th:if="${review.score == 4}" style="font-size: 35px">★★☆☆☆</span>
                                <span th:if="${review.score == 3}" style="font-size: 35px">★★☆☆☆</span>
                                <span th:if="${review.score == 2}" style="font-size: 35px">★☆☆☆☆</span>
                                <span th:if="${review.score == 1}" style="font-size: 35px">★☆☆☆☆</span></h3>
                        </header>

                        <p th:inline="text">
                            [[${review.summary}]]
                        </p>

                        <small class="author" th:text="${review.author.fullName}"></small>
                    </review>

                    <footer style="padding-top: 20px">
                        <div class="pull-right" style="padding-right: 15px">
                            <a class="btn btn-default btn-sm"
                               th:href="@{/review/{id}(id=${review.id})}">MORE ➤</a>
                        </div>
                    </footer>
                </div>
            </th:fieldset>
        </div>
    </div>
</main>
