<main xmlns:th="http://www.w3.org/1999/html">
    <div class="container body-content">

        <div class="jumbotron">
            <h1 class="text-center">Reviews on the Latest Games</h1>
            <p class="lead text-center">Hear what your fellow gamers have to say!</p>
            <p class="text-center">
                <a th:href="@{/review/create}" class="btn btn-success btn-lg">Share Your Opinion</a>
                <a th:href="@{/all-reviews}" class="btn btn-primary btn-lg">Read Reviews</a>
            </p>
        </div>

        <div class="row">
            <th:fieldset th:each="review : ${reviews}">

                <div class="col-md-6" style="padding-bottom: 30px">

                    <a th:href="@{/review/{id}(id=${review.id})}">
                        <div class="col-sm-4" style="padding-top: 10px">
                            <img th:src="${review.imageUrl}" class="img-responsive pull-right"/>
                        </div>
                    </a>

                    <review class="col-sm-8">
                        <header>
                            <a th:href="@{/review/{id}(id=${review.id})}">
                                <h2 th:text="${review.title}"></h2>
                            </a>
                            <h3 th:inline="text">
                                <span th:if="${review.score == 10}" style="font-size: 35px">★★★★★</span>
                                <span th:if="${review.score == 9}" style="font-size: 35px">★★★★★</span>
                                <span th:if="${review.score == 8}" style="font-size: 35px">★★★★☆</span>
                                <span th:if="${review.score == 7}" style="font-size: 35px">★★★★☆</span>
                                <span th:if="${review.score == 6}" style="font-size: 35px">★★★☆☆</span>
                                <span th:if="${review.score == 5}" style="font-size: 35px">★★★☆☆</span>
                                <span th:if="${review.score == 4}" style="font-size: 35px">★★☆☆☆</span>
                                <span th:if="${review.score == 3}" style="font-size: 35px">★★☆☆☆</span>
                                <span th:if="${review.score == 2}" style="font-size: 35px">★☆☆☆☆</span>
                                <span th:if="${review.score == 1}" style="font-size: 35px">★☆☆☆☆</span></h3>
                        </header>

                        <p th:text="${review.summary}"></p>
                    </review>

                    <footer>
                        <small class="author pull-left" style="padding-left: 12px" th:text="${review.author.fullName}"></small>

                        <div class="pull-right" style="padding-right: 15px">
                            <a class="btn btn-default btn-sm"
                               th:href="@{/review/{id}(id=${review.id})}">MORE ➤</a>
                        </div>
                    </footer>
                </div>

            </th:fieldset>
        </div>
    </div>
</main>
