<main>

    <div class="container body-container jumbotron">
        <div class="row">
            <div id="main" class="col-md-12">
                <div>
                    <h2 class="text-center" th:inline="text"><b>Hello, [[${user.fullName}]]! ([[${user.email}]])</b></h2>

                    <h2 class="text-center" th:if="${user.reviewCount > 1}" th:inline="text">
                        You've published <b>[[${user.reviewCount}]]</b> reviews.
                    </h2>

                    <div class="text-center" th:if="${user.reviewCount == 0}">
                        <h2>You haven't reviewed any games.</h2>
                        <br/>
                        <a th:href="@{/review/create}" class="btn btn-success btn-lg">Write a Review</a>
                    </div>

                    <h2 class="text-center" th:if="${user.reviewCount == 1}" th:inline="text">
                        You've published 1 review.
                    </h2>

                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <th:block th:each="review : ${reviews}">
                <div class="col-md-6" style="padding-top: 10px; padding-bottom: 30px">

                    <a th:href="@{/review/{id}(id=${review.id})}">
                        <div class="col-sm-4" style="padding-top: 5px">
                            <img th:src="${review.imageUrl}" class="img-responsive pull-right"/>
                        </div>
                    </a>

                    <review class="col-sm-8">
                        <header style="padding-bottom: 15px">
                            <div>
                                <a th:href="@{/review/{id}(id=${review.id})}">
                                    <span style="font-size: 30px" th:inline="text">[[${review.title}]]</span>
                                </a>
                                <span style="font-size: 25px; padding-top: 2px; padding-left: 5px" class="darkred-body pull-right text-center" id="circle-downvote" th:inline="text"><b>[[${review.downvoteCount}]] <br/><span style="font-size: 40px">🖓</span></b></span>
                                <span style="font-size: 25px; padding-top: 2px; padding-left: 5px" class="darkgreen-body pull-right text-center" id="circle-upvote" th:inline="text"><b>[[${review.upvoteCount}]] <br/><span style="font-size: 40px">🖒</span></b></span>
                            </div>
                            <h3 th:inline="text">
                                <img th:if="${review.score == 10}" src="https://www.clker.com/cliparts/5/1/c/1/149342098821355298455-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 9}" src="https://www.clker.com/cliparts/5/2/7/3/14934361984080440604.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 8}" src="https://www.clker.com/cliparts/e/e/0/e/149343527111024111694-stars-test.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 7}" src="https://www.clker.com/cliparts/1/d/d/8/14934360875950103533.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 6}" src="https://www.clker.com/cliparts/2/2/9/9/14934360596421522933-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 5}" src="https://www.clker.com/cliparts/5/b/5/4/149343603616294949342.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 4}" src="https://www.clker.com/cliparts/7/9/a/0/14934360096018083322-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 3}" src="https://www.clker.com/cliparts/8/b/5/7/14934359738823413821.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 2}" src="https://www.clker.com/cliparts/d/d/a/c/149343593313716628181-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 1}" src="https://www.clker.com/cliparts/8/9/6/7/14934359056515004400.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                            </h3>
                        </header>

                        <p th:inline="text">
                            [[${review.summary}]]
                        </p>

                        <small class="author" th:text="${review.author.fullName}"></small>
                    </review>

                    <footer>

                        <div class="pull-right" style="padding-right: 15px">
                            <a class="btn btn-default btn-sm"
                               th:href="@{/review/{id}(id=${review.id})}"><b>More ➤</b></a>
                        </div>
                    </footer>

                </div>
            </th:block>
        </div>
    </div>
</main>