<main>

    <div class="container body-container jumbotron">
        <div class="row">
            <div id="main" class="col-md-12">
                <div>
                    <h2 class="text-center" th:inline="text"><b>Hello, [[${user.fullName}]]! ([[${user.email}]])</b></h2>

                    <h2 class="text-center" th:if="${user.reviewCount > 1}" th:inline="text">
                        You've published <b>[[${user.reviewCount}]]</b> reviews.
                    </h2>

                    <div class="text-center" th:if="${user.reviewCount == 0}">
                        <h2>You haven't reviewed any games.</h2>
                        <br/>
                        <a th:href="@{/review/create}" class="btn btn-success btn-lg">Write a Review</a>
                    </div>

                    <h2 class="text-center" th:if="${user.reviewCount == 1}" th:inline="text">
                        You've published 1 review.
                    </h2>

                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <th:block th:each="review : ${reviews}">
                <div class="col-md-6" style="padding-top: 10px; padding-bottom: 30px">

                    <a th:href="@{/review/{id}(id=${review.id})}">
                        <div class="col-sm-4" style="padding-top: 5px">
                            <img th:src="${review.imageUrl}" class="img-responsive pull-right"/>
                        </div>
                    </a>

                    <review class="col-sm-8">
                        <header style="padding-bottom: 15px">
                            <div>
                                <a th:href="@{/review/{id}(id=${review.id})}">
                                    <span style="font-size: 30px" th:inline="text">[[${review.title}]]</span>
                                </a>
                                <span style="font-size: 25px; padding-top: 2px" class="pull-right text-center" id="circle-downvote" th:inline="text"><b>[[${review.downvoteCount}]]</b></span>
                                <span style="font-size: 25px; padding-top: 2px" class="pull-right text-center" id="circle-upvote" th:inline="text"><b>[[${review.upvoteCount}]]</b></span>
                            </div>
                            <h3 th:inline="text">
                                <img th:if="${review.score == 10}" src="https://www.clker.com/cliparts/5/1/c/1/149342098821355298455-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 9}" src="https://www.clker.com/cliparts/c/3/a/3/149342220817588066174.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 8}" src="https://www.clker.com/cliparts/b/4/c/5/14934221687560176084-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 7}" src="https://www.clker.com/cliparts/9/4/5/2/149342212514879476013.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 6}" src="https://www.clker.com/cliparts/3/c/1/8/14934220775508012813-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 5}" src="https://www.clker.com/cliparts/b/6/b/a/14934220253883546472.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 4}" src="https://www.clker.com/cliparts/5/f/2/7/14934219889678125842-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 3}" src="https://www.clker.com/cliparts/4/8/3/8/14934219179139725351.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 2}" src="https://www.clker.com/cliparts/d/9/a/a/149342187417618316061-stars.med.png" class="img-responsive" style="width: 100px"/>
                                <img th:if="${review.score == 1}" src="https://www.clker.com/cliparts/e/1/2/0/1493421826914454660.5-stars.med.png" class="img-responsive" style="width: 100px"/>
                            </h3>
                        </header>

                        <p th:inline="text">
                            [[${review.summary}]]
                        </p>

                        <small class="author" th:text="${review.author.fullName}"></small>
                    </review>

                    <footer>

                        <div class="pull-right" style="padding-right: 15px">
                            <a class="btn btn-default btn-sm"
                               th:href="@{/review/{id}(id=${review.id})}"><b>More ➤</b></a>
                        </div>
                    </footer>

                </div>
            </th:block>
        </div>
    </div>
</main>