<main>
    <div class="container body-content jumbotron">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-3">
                    <img th:src="${review.imageUrl}" class="img-responsive" style="padding-top: 15px"/>
                </div>

                <review class="col-md-9">
                    <header style="padding-bottom: 25px">
                        <h2 th:text="${review.title}" style="font-size: 50px"></h2>
                        <span style="font-size: 30px" th:inline="text"><i>[[${review.score}]] / 10&nbsp;</i>
                            <span>
                                <img th:if="${review.score == 10}" src="https://www.clker.com/cliparts/5/1/c/1/149342098821355298455-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 9}" src="https://www.clker.com/cliparts/c/3/a/3/149342220817588066174.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 8}" src="https://www.clker.com/cliparts/b/4/c/5/14934221687560176084-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 7}" src="https://www.clker.com/cliparts/9/4/5/2/149342212514879476013.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 6}" src="https://www.clker.com/cliparts/3/c/1/8/14934220775508012813-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 5}" src="https://www.clker.com/cliparts/b/6/b/a/14934220253883546472.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 4}" src="https://www.clker.com/cliparts/5/f/2/7/14934219889678125842-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 3}" src="https://www.clker.com/cliparts/4/8/3/8/14934219179139725351.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 2}" src="https://www.clker.com/cliparts/d/9/a/a/149342187417618316061-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 1}" src="https://www.clker.com/cliparts/e/1/2/0/1493421826914454660.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                            </span>
                        </span>
                    </header>

                    <p th:text="${review.content}"> </p>

                    <small class="author" th:text="${review.author.fullName}"></small>

                    <footer>
                        <p class="pull-left">
                            <span style="font-size: 30px" class="darkgreen-body" th:inline="text" th:if="${review.upvoteCount != 1}"><b>[[${review.upvoteCount}]]</b> Upvotes</span>
                            <span style="font-size: 30px" class="darkgreen-body" th:inline="text" th:if="${review.upvoteCount == 1}"><b>[[${review.upvoteCount}]]</b> Upvote</span>
                            <br/>
                            <span style="font-size: 30px" class="darkred-body" th:inline="text" th:if="${review.downvoteCount != 1}"><b>[[${review.downvoteCount}]]</b> Downvotes</span>
                            <span style="font-size: 30px" class="darkred-body" th:inline="text" th:if="${review.downvoteCount == 1}"><b>[[${review.downvoteCount}]]</b> Downvote</span>
                        </p>

                        <div class="pull-right" id="buttons" style="padding-top: 25px">
                            <form  sec:authorize="isAuthenticated()"
                                   th:if="${!user.hasUpvoted(review) AND !user.isAuthor(review)}"
                                   class="pull-left"
                                   style="padding-right: 3px"
                                   th:action="@{/review/{id}/upvote(id=${review.id})}"
                                   method="POST">

                                <input class="btn btn-upvote btn"
                                       type="submit"
                                       value="UPVOTE"
                                />
                            </form>

                            <button class="btn btn-upvote btn disabled pull-left"
                                    sec:authorize="isAuthenticated()"
                                    th:if="${user.hasUpvoted(review)}">
                                    Upvoted
                            </button>

                            <form  sec:authorize="isAuthenticated()"
                                   th:if="${!user.hasDownvoted(review) AND !user.isAuthor(review)}"
                                   class="pull-left"
                                   style="padding-right: 2px; padding-left: 3px"
                                   th:action="@{/review/{id}/downvote(id=${review.id})}"
                                   method="POST">

                                <input class="btn btn-danger btn"
                                       type="submit"
                                       value="DOWNVOTE"
                                />
                            </form>

                            <span style="padding-right: 2px">
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${user.hasDownvoted(review)}"
                                        class="btn btn-danger disabled">
                                Downvoted
                                </button>
                            </span>

                            <a sec:authorize="isAnonymous()"
                               class="btn btn-primary"
                               th:href="@{/login}">
                                Login to upvote reviews.
                            </a>

                            <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(review)}">
                                <a class="btn btn-success" th:href="@{/review/edit/{id}(id = ${review.id})}">Edit</a>
                                <a class="btn btn-danger" th:href="@{/review/delete/{id}(id = ${review.id})}">Delete</a>
                            </th:block>

                            <a class="btn btn-default" th:href="@{/}">Back ➤</a>

                        </div>
                    </footer>
                </review>
            </div>
        </div>
    </div>
</main>
