<main>
    <div class="container body-content jumbotron">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-3">
                    <img th:src="${review.imageUrl}" class="img-responsive" style="padding-top: 15px"/>
                </div>

                <review class="col-md-9">
                    <header style="padding-bottom: 25px">
                        <h2 th:text="${review.title}" style="font-size: 50px"></h2>
                        <span style="font-size: 30px" th:inline="text"><i>[[${review.score}]] / 10&nbsp;</i>
                            <span>
                                <img th:if="${review.score == 10}" src="https://www.clker.com/cliparts/5/1/c/1/149342098821355298455-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 9}" src="https://www.clker.com/cliparts/5/2/7/3/14934361984080440604.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 8}" src="https://www.clker.com/cliparts/e/e/0/e/149343527111024111694-stars-test.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 7}" src="https://www.clker.com/cliparts/1/d/d/8/14934360875950103533.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 6}" src="https://www.clker.com/cliparts/2/2/9/9/14934360596421522933-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 5}" src="https://www.clker.com/cliparts/5/b/5/4/149343603616294949342.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 4}" src="https://www.clker.com/cliparts/7/9/a/0/14934360096018083322-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 3}" src="https://www.clker.com/cliparts/8/b/5/7/14934359738823413821.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 2}" src="https://www.clker.com/cliparts/d/d/a/c/149343593313716628181-stars.med.png" class="img-responsive" style="width: 150px"/>
                                <img th:if="${review.score == 1}" src="https://www.clker.com/cliparts/8/9/6/7/14934359056515004400.5-stars.med.png" class="img-responsive" style="width: 150px"/>
                            </span>
                        </span>
                    </header>

                    <p th:text="${review.content}"> </p>

                    <small class="author" th:text="${review.author.fullName}"></small>

                    <footer>
                        <p class="pull-left">
                            <span style="font-size: 30px" class="darkgreen-body" th:inline="text" th:if="${review.upvoteCount != 1}"><b>[[${review.upvoteCount}]]</b> Upvotes</span>
                            <span style="font-size: 30px" class="darkgreen-body" th:inline="text" th:if="${review.upvoteCount == 1}"><b>[[${review.upvoteCount}]]</b> Upvote</span>
                            <br/>
                            <span style="font-size: 30px" class="darkred-body" th:inline="text" th:if="${review.downvoteCount != 1}"><b>[[${review.downvoteCount}]]</b> Downvotes</span>
                            <span style="font-size: 30px" class="darkred-body" th:inline="text" th:if="${review.downvoteCount == 1}"><b>[[${review.downvoteCount}]]</b> Downvote</span>
                        </p>

                        <div class="pull-right" id="buttons" style="padding-top: 25px">
                            <form  sec:authorize="isAuthenticated()"
                                   th:if="${!user.hasUpvoted(review) AND !user.isAuthor(review)}"
                                   class="pull-left"
                                   style="padding-right: 3px"
                                   th:action="@{/review/{id}/upvote(id=${review.id})}"
                                   method="POST">

                                <input class="btn btn-upvote btn"
                                       type="submit"
                                       value="UPVOTE"
                                />
                            </form>

                            <span class="pull-left" style="padding-right: 3px">
                            <button class="btn btn-upvote btn disabled"
                                    sec:authorize="isAuthenticated()"
                                    th:if="${user.hasUpvoted(review)}">
                                    Upvoted
                            </button>
                            </span>

                            <form  sec:authorize="isAuthenticated()"
                                   th:if="${!user.hasDownvoted(review) AND !user.isAuthor(review)}"
                                   class="pull-left"
                                   style="padding-right: 2px;"
                                   th:action="@{/review/{id}/downvote(id=${review.id})}"
                                   method="POST">

                                <input class="btn btn-danger btn"
                                       type="submit"
                                       value="DOWNVOTE"
                                />
                            </form>

                            <span style="padding-right: 1px">
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${user.hasDownvoted(review)}"
                                        class="btn btn-danger disabled">
                                Downvoted
                                </button>
                            </span>

                            <a sec:authorize="isAnonymous()"
                               class="btn btn-primary"
                               th:href="@{/login}">
                                Login to assess reviews.
                            </a>

                            <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(review)}">
                                <a class="btn btn-success" th:href="@{/review/edit/{id}(id = ${review.id})}">Edit</a>
                                <a class="btn btn-danger" th:href="@{/review/delete/{id}(id = ${review.id})}">Delete</a>
                            </th:block>

                            <a class="btn btn-default" th:href="@{/}">Back ➤</a>

                        </div>
                    </footer>
                </review>
            </div>
        </div>
    </div>
</main>
